<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="treeview">
        <a>
            <i class="fa fa-graduation-cap"></i> <span>Communities</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" *ngFor='let community of (model.communities)'>
            <li><a [routerLink]="['/communities', community.id]"><i class="fa fa-circle-o"></i>{{community.name}}</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a>
            <i class="fa fa-tasks"></i> <span>Artifacts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" *ngFor='let artifactStatus of model.artifactStatuses'>
            <li><a [routerLink]="['/artifacts']" [queryParams] = "{status: artifactStatus.value}"><i class="fa fa-circle-o"></i>{{artifactStatus.name}}</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a>
            <i class="fa fa-group"></i> <span>Members</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" *ngFor='let communityRole of model.communityRoles'>
            <li><a [routerLink]="['/members']" [queryParams]="{role: communityRole.value}"><i class="fa fa-circle-o"></i>{{communityRole.name}}</a></li>
        </ul>
    </li>
</ul>