<section class="content-header">
</section>
<!-- Main content -->
<section class="invoice">
	<!-- title row -->
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				<i class="fa fa-group"></i> Members
				<small class="pull-right">
                        <ol class="breadcrumb">
        <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a routerLink="/members">Members</a></li>
        <li class="active">Contributors</li>
    </ol>
                    </small>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="box-header">
		</div>

		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let member of members | async'>
						<td>{{member.firstName}}</td>
						<td>{{member.lastName}}</td>
						<td>{{member.email}}</td>
						<td><a [routerLink]='[member.id]' skipLocationChange class="fa fa-search-plus btn btn-flat"></a></td>
					</tr>
				</tbody>
			</table>
			<div class="box-footer clearfix">
				<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Create New Member</a>
			</div>
		</div>
	</div>
</section>
<router-outlet></router-outlet>