<!-- Content Header (Page header) -->
<section class="content-header">
</section>

<!-- Main content -->
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-graduation-cap"></i> {{community.name}}
                <small class="pull-right">
                        <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/communities']">Communities</a></li>
        <li class="active"> {{community.name}}</li>
    </ol>
                    </small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-center">
                        <strong>Artifact Backlog</strong>
                    </p>

                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Artifact ID</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Assignee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let artifact of artifacts'>
                                    <td><a [routerLink]="['/artifacts', artifact.id]">{{artifact.id}}</a></td>
                                    <td>{{artifact.title}}</td>
                                    <td>{{artifact.type | artifactType}}</td>
                                    <td><span class="label {{artifact.status | artifactLabel}}">{{artifact.status | artifactStatus}}</span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Create New Artifact</a>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                    <p class="text-center">
                        <strong>Goal Completion</strong>
                    </p>

                    <div class="progress-group">
                        <span class="progress-text">BorwnBag Launch</span>
                        <span class="progress-number"><b>160</b>/200</span>

                        <div class="progress sm">
                            <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
</div>
</div>
<!-- /.progress-group -->
<div class="progress-group">
    <span class="progress-text">Short Article</span>
    <span class="progress-number"><b>310</b>/400</span>

    <div class="progress sm">
        <div class="progress-bar progress-bar-red" style="width: 80%"></div>
</div>
</div>
<!-- /.progress-group -->
<div class="progress-group">
    <span class="progress-text">Long Article</span>
    <span class="progress-number"><b>480</b>/800</span>

    <div class="progress sm">
        <div class="progress-bar progress-bar-green" style="width: 80%"></div>
</div>
</div>
<!-- /.progress-group -->
<div class="progress-group">
    <span class="progress-text">Coaching</span>
    <span class="progress-number"><b>250</b>/500</span>

    <div class="progress sm">
        <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
</div>
</div>
<!-- /.progress-group -->
<!-- /.col -->
<!--<div class="col-md-4">-->
    <!-- /.row -->
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Members</h3>

            <div class="box-tools pull-right">
                <span class="label label-danger">8 Members</span>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <ul class="users-list clearfix">
                <li>
                    <img src="../assets/img/user1-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">Alexander Pierce</a>
                    <span class="users-list-date">Today</span>
                </li>
                <li>
                    <img src="../assets/img/user8-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">Norman</a>
                    <span class="users-list-date">Yesterday</span>
                </li>
                <li>
                    <img src="../assets/img/user7-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">Jane</a>
                    <span class="users-list-date">12 Jan</span>
                </li>
                <li>
                    <img src="../assets/img/user6-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">John</a>
                    <span class="users-list-date">12 Jan</span>
                </li>
                <li>
                    <img src="../assets/img/user2-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">Alexander</a>
                    <span class="users-list-date">13 Jan</span>
                </li>
                <li>
                    <img src="../assets/img/user5-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">Sarah</a>
                    <span class="users-list-date">14 Jan</span>
                </li>
                <li>
                    <img src="../assets/img/user4-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">Nora</a>
                    <span class="users-list-date">15 Jan</span>
                </li>
                <li>
                    <img src="../assets/img/user3-128x128.jpg" alt="User Image">
                    <a class="users-list-name" href="#">Nadia</a>
                    <span class="users-list-date">15 Jan</span>
                </li>
            </ul>
            <!-- /.users-list -->
        </div>
        <!-- /.box-body -->
    </div>
<!--</div>-->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->


</section>
<!-- /.content -->