<section class="content-header">
</section>
<section class="invoice">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="page-header">
				<i class="fa fa-dashboard"></i> Dashboard
				<small class="pull-right">
                        <ol class="breadcrumb">
        
        <li class="active">Dashboard</li>        
    </ol>
                    </small>
			</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<al-artifactboard></al-artifactboard>
		</div>
		<div class="col-md-4">
			<al-artifactpie></al-artifactpie>
		</div>
	</div>
</section>