<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Artifact Statistics</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div id="pieContainer" class="box-body">
        <div class="row">
            <chart [options]="options"></chart>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <ul class="nav nav-pills nav-stacked" *ngFor='let community of model.communityStats'>
            
            <li><a [routerLink]="['/communities', community.id]">{{community.id | communityLabel | async}}
                  <span class="pull-right text-red"><i class="fa fa-angle-down"></i> {{community.stats}}</span></a></li>
            <!--<li><a href="#">Agile Community<span class="pull-right text-green"><i class="fa fa-angle-up"></i> 4%</span></a>
            </li>
            <li><a href="#">Java Community
                  <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span></a></li>-->
        </ul>
    </div>
    <!-- /.footer -->
</div>