<div class="box box-info">	
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Artifact ID</th>
						<th>Title</th>
						<th>Type</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let artifact of artifacts'>
						<td><a [routerLink]="['/artifacts', artifact.id]">{{artifact.id}}</a></td>
						<td>{{artifact.title}}</td>
						<td>{{artifact.type | artifactType}}</td>
						<td><span class="label {{artifact.status | artifactLabel}}">{{artifact.status | artifactStatus}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.table-responsive -->
	</div>
	<!-- /.box-body -->
	<div class="box-footer clearfix">
		<a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Create New Artifact</a>
		<a routerLink="/artifacts" class="btn btn-sm btn-default btn-flat pull-right">View All Artifacts</a>
	</div>
	<!-- /.box-footer -->
</div>